* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}
:root {
  --bg-color: #fff;
  --snd-bg-color: #d5fdf9;
  --text-color: #000;
  --main-color: #007f73;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

/* header section code */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 18%;
  /* background: var(--main-color); */
  background: transparent;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  height: 60px; /* Sesuaikan tinggi logo */
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo img {
  height: 100%;
  width: auto; /* Menjaga aspek rasio */
  object-fit: contain;
}

.logo:hover {
  transform: scale(1.05);
}
.navbar a {
  font-size: 1.9rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
  transition: color 0.3s ease;
  position: relative;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: var(--main-color);
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
  left: 0;
  right: 0;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* home section code */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--snd-bg-color);
}

.home-img img {
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  animation: floatImage 4s ease-in-out infinite;
  transition: 0.4s ease;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 35px var(--main-color),
    0 0 45px var(--main-color);
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content {
  margin-left: 5rem;
  text-align: center;
}

.home-content h3 {
  font-size: 3.7rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h4 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 10px;
}
.home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 40px;
  /* margin-bottom: 50px; */
  padding: 10px 100px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1.5rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 20px;
}

.btn:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
  transform: scale(1.05);
}

/* harga section Code */

.harga {
  background: var(--bg-color);
  /* margin-bottom: 2rem; */
}
.harga h2 {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 5rem;
}
.harga p {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;
  padding: 0 100px;
}

.harga-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.harga-container .harga-box {
  flex: 1 1 30rem;
  background: var(--snd-bg-color);
  padding: 4rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.3rem solid var(--bg-color);
  position: 0.3s ease;
}

.harga-container .harga-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.harga-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.harga-box img {
  width: 20vw;
  box-shadow: 0 0 5px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease;
  margin-bottom: 20px;
}

.harga-box h3 {
  font-size: 2.6rem;
  margin-bottom: 1.3rem;
}
.harga-box h4 {
  font-size: 2rem;
}

.harga-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* kode untung */

.untung {
  margin: 10rem;
}
.untung h3 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: var(--text-color);
  text-align: center;
  font-size: 3.5rem;
}
.untung p {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  padding: 0 100px;
}
.untung-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.untung-container .untung-box {
  flex: 1 1 30rem;
  padding: 2rem 0.5rem 2rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.3rem solid var(--bg-color);
  position: 0.3s ease;
}

.untung-container .untung-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.untung-box i {
  font-size: 5rem;
  color: var(--main-color);
}

.untung-box h3 {
  font-size: 2.6rem;
}
.untung-box h4 {
  font-size: 2rem;
  margin-top: 1rem;
}

.untung-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  padding: 0;
}

/* Contact Section Code */
.contact {
  background: var(--snd-bg-color);
  text-align: center;
}
.contact h2 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  color: var(--text-color);
  text-align: center;
  font-size: 5rem;
}
.contact p {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 2rem;
  padding: 0 100px;
}

.contact .btn {
  margin: 10px 0;
}

.contact .line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.line .long-line {
  display: block;
  width: 60%;
  height: 1px;
  background-color: black;
}

.contact .number h3 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 2rem;
}
.contact .number p {
  text-align: center;
  margin: 2px;
  font-size: 2rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 2px 0 40px 0;
  background-color: var(--snd-bg-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 20px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--text-color);
}

/* Responsive */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3%;
  }
  .project {
    padding: 7rem;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 991px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 255px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--main-color);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
  }
  .navbar a {
    display: block;
    padding: 17px;
    font-size: 22px;
    color: var(--bg-color);
  }
  .navbar.active {
    right: 0;
  }
  .navbar a::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: var(--text-color);
    transition: width 0.3s ease-in-out;
  }
  .navbar a:hover,
  .navbar a.active {
    color: var(--text-color);
  }
  .navbar a:hover::after,
  .navbar a.active::after {
    width: 50%;
    left: 0;
    right: 0;
    color: var(--bg-color);
  }

  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2, 6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content {
    order: 2;
    margin-left: 1rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .project h2 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 617px) {
  .home-img img {
    width: 70vw;
    margin-top: 8rem;
  }
  .about-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .home-content p {
    padding: 10px 50px;
  }
  .harga p {
    padding: 0 50px;
  }
  .contact p {
    padding: 0 50px;
  }
  .untung p {
    padding: 0 0;
  }
}

@media (max-width: 617px) {
  html {
    font-size: 50%;
  }
}
